<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="principalId" value="50001" />
  </appSettings>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="DISEndPointBehaviour">
          <!-- You need to install your certificates using certmgr.msc Tool -->
          <clientCredentials>
            <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" findValue="dispartner"/>
            <serviceCertificate>
              <defaultCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindBySerialNumber" findValue="4be25fd1"/>
              <authentication certificateValidationMode="PeerOrChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <basicHttpBinding>
        <binding name="DaDeskDataExchangeSoap11" />
      </basicHttpBinding>
      <customBinding>
        <binding name="DISMutualCertificateDuplexBinding">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <security defaultAlgorithmSuite="Basic128Rsa15" authenticationMode="MutualCertificateDuplex"
            requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="true"
            messageProtectionOrder="SignBeforeEncrypt" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="true" />
          <httpTransport maxReceivedMessageSize="999999999" maxBufferSize="999999999" />
        </binding>
      </customBinding>
    </bindings>

    <client>
      <endpoint binding="customBinding"
              bindingConfiguration="DISMutualCertificateDuplexBinding"
              contract="DIS.DaDeskDataExchange"
              name="DaDeskDataExchangeSoap11_DaDeskDataExchange"
              address="http://disweb.cuat.da-desk.com/disweb/1.0/spring-ws/"
              behaviorConfiguration="DISEndPointBehaviour">
        <identity>
          <dns value="dis"/>
        </identity>

        <headers>
          <wsse:UsernameToken xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UsernameToken-7" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
            <wsse:Username>50001</wsse:Username>
          </wsse:UsernameToken>
        </headers>

      </endpoint>
    </client>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtTransportLevel="true" logMessagesAtServiceLevel="true"/>
    </diagnostics>

  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>